body {
    background-color: #44576a;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form{
  margin: auto;
}

input[type=file] {
  margin-right: 20px;
  border: none;
  background: #084cdf;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]:hover {
  background: #0d45a5;
}

.video{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.parent{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.images{
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
}

.img{
  width: 90px;
  height: 110px;
}