<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>face-recog</title>
</head>

<body>
    <div class="parent">
        <div class="images">
            {% for name in names %}
            <img src="./artifacts/faces/{{ name }}.jpg" alt={{name}} class="img">
            <p>{{name}}</p>
            {% endfor %}
        </div>
        <div class="video">
            <img src="{{url_for('video')}}" alt="" srcset="">
            <br>
            <h3>Add faces for recognition - </h3>
            <div>
                <form action="{{url_for('upload')}}" method=post enctype=multipart/form-data id="form">
                    <input type=file name=file>
                    <input type=submit value=Upload>
                </form>
            </div>
        </div>
    </div>

</body>

</html>